img[data-v-5ffc77b7]{height:auto}.emoji-text[data-v-c51136a5]{display:inline-flex;align-items:center;gap:.3em}.emoji[data-v-c51136a5]{font-family:"Apple Color Emoji","Segoe UI Emoji","Noto Color Emoji",sans-serif;vertical-align:middle}
